<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">CiudadBusca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"/>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/registro">Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="/entrar">Entrar</a></li>
        <li class="nav-item"><a class="nav-link" href="/muro">Muro</a></li>
        <li class="nav-item"><a class="nav-link" href="/sms">SMS</a></li>
        <li class="nav-item"><a class="nav-link" href="/menciones">Menciones</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ollorente
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfil">Perfil</a>
            <a class="dropdown-item" href="/crear-publicidad">Crear publicidad</a>
            <a class="dropdown-item" href="/crear-sitio">Crear sitio</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/salir">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
