# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/api-v4/
/node_modules/
/admin/node_modules/
/api-v1/node_modules/
/api-v2/node_modules/
/api-v3/node_modules/
/frontend/node_modules/
/ng-AdminCiudadBusca/node_modules/
/site/node_modules/
/user/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
v4-data.txt

# System Files
.txt
.DS_Store
Thumbs.db
