<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">CiudadBusca</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Search"/>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"><a class="nav-link" href="/">Salir</a></li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['dashboard']">
              <i class="fas fa-home"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['users']">
              <i class="fas fa-users"></i> Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['countries']">
              <i class="fas fa-globe-americas"></i> Paises
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['roles']">
              <i class="fas fa-project-diagram"></i> Roles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pages']">
                <i class="fas fa-sitemap"></i> Páginas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['social-networks']">
                <i class="fas fa-share-square"></i> Redes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['socials']">
                <i class="fas fa-share-square"></i> Sociales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['status-posts']">
                <i class="fas fa-signal"></i> Estatus
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['posts']">
                <i class="fas fa-file-alt"></i> Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['comments']">
                <i class="fas fa-comments"></i> Comentarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['likes']">
                <i class="fas fa-thumbs-up"></i> Likes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['followers']">
                <i class="fas fa-user-friends"></i> Seguidores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['clients']">
                <i class="fas fa-user-tie"></i> Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['type-purchases']">
                <i class="fas fa-shopping-cart"></i> Compras
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['banners']">
                <i class="fas fa-address-card"></i> Banners
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['banner-trackers']">
                <i class="fas fa-puzzle-piece"></i> Seguimiento
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <router-outlet></router-outlet>

    </main>
  </div>
</div>