<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">CiudadBusca</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Search"/>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"><a class="nav-link" href="/">Salir</a></li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">
              <i class="fas fa-users"></i> Usuarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/countries">
              <i class="fas fa-globe-americas"></i> Paises
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/roles">
              <i class="fas fa-project-diagram"></i> Roles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages">
                <i class="fas fa-sitemap"></i> Páginas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/socialnetworks">
                <i class="fas fa-share-square"></i> Redes Sociales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/socials">
                <i class="fas fa-share-square"></i> Redes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/status_posts">
                <i class="fas fa-signal"></i> Tipos de Estatus
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">
                <i class="fas fa-file-alt"></i> Post
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">
                <i class="fas fa-comments"></i> Comentarios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/likes">
                <i class="fas fa-thumbs-up"></i> Likes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/followers">
                <i class="fas fa-user-friends"></i> Seguidores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clients">
                <i class="fas fa-user-tie"></i> Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/type_purchases">
                <i class="fas fa-shopping-cart"></i> Compras
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/banners">
                <i class="fas fa-address-card"></i> Banners
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/banner_tracks">
                <i class="fas fa-puzzle-piece"></i> Seguimiento Banners
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <app-users></app-users>

    </main>
  </div>
</div>