<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Usuarios</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-success" (click)="onNew()">Nuevo</button>
    </div>
  </div>
</div>

<div class="card mb-5">
  <div class="card-body">
    <form class="mb-5">
      <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputUsername" placeholder="Usuario"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Correo Electrónico</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electrónico"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="password"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputFirstName" placeholder="Nombre"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Apellidos</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputLastName" placeholder="Apellidos"/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="form-group form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="active" checked>
            <label class="form-check-label" for="active">Activo</label>
          </div>
          <div class="form-group form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="lock">
            <label class="form-check-label" for="lock">Bloqueado</label>
          </div>
          <div class="form-group form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="is_staff">
            <label class="form-check-label" for="is_staff">Staff</label>
          </div>
          <div class="form-group form-check col-sm-3">
            <input type="checkbox" class="form-check-input" id="superUser">
            <label class="form-check-label" for="superUser">Superusuario</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th style="width: 60px;">#</th>
            <th style="width: 160px;">Usuario</th>
            <th>Nombre</th>
            <th style="width: 180px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <td>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-sm" *ngIf="!item.lock">
                  <input type="checkbox" checked autocomplete="on"> <i class="fas fa-lock-open"></i>
                </label>
                <label class="btn btn-danger btn-sm active" *ngIf="item.lock">
                  <input type="checkbox" checked autocomplete="off"> <i class="fas fa-lock"></i>
                </label>
              </div>
            </td>
            <td>{{ item.username }}</td>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td class="text-right">
              <button type="button" class="btn btn-success ml-3 btn-sm" (click)="getItem()"><i class="fas fa-eye"></i></button>
              <button type="button" class="btn btn-warning ml-3 btn-sm"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger ml-3 btn-sm"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
