<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Usuarios</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-primary" [routerLink]="['new']">Nuevo</a>
    </div>
  </div>
</div>

<div class="shadow-sm p-3 mb-2 bg-white rounded" *ngFor="let item of users">
  <span class="mr-1 btn-lg">
    <i class="fas fa-lock-open text-primary" *ngIf="!item.lock"></i>
    <i class="fas fa-lock text-danger" *ngIf="item.lock"></i>
  </span>
  <span>| <b>{{ item.username | lowercase }}</b> | {{ item.first_name | uppercase  }} {{ item.last_name | uppercase  }}</span>
  <span class="float-right btn-lg">
    <i class="fas fa-eye text-primary ml-2" [routerLink]="[item._id]"></i>
    <i class="fas fa-edit text-primary ml-2" [routerLink]="['/users', item._id, 'edit']"></i>
    <i class="fas fa-trash-alt text-primary ml-2" (click)="deleteItem(item.id)"></i>
  </span>
</div>