<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Usuario</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ml-2">
      <a class="btn btn-sm btn-link text-primary" [routerLink]="['/users']">Volver</a>
    </div>
  </div>
</div>

<div class="shadow-sm p-3 mb-2 bg-white rounded">
  <p class="h4">{{ user.username | lowercase }}</p>
  <h5 class="h3">{{ user.first_name | uppercase }} {{ user.last_name | uppercase }}</h5>
  <p class="">{{ user.email | lowercase }}</p>
  <p class="card-text row">
    <span class="col-md-6">Desde: {{ user.created_at | date }}</span><span class="col-md-6">Última vez: {{ user.updated_at | date }}</span>
  </p>
  <p class="card-text row">
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="user.active"></i><i class="fas fa-lock text-danger" *ngIf="!user.active"></i> Activo
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="user.is_staff"></i><i class="fas fa-lock text-danger" *ngIf="!user.is_staff"></i> Staff
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="!user.lock"></i><i class="fas fa-lock text-danger" *ngIf="user.lock"></i> Bloqueado
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="user.is_superuser"></i><i class="fas fa-lock text-danger" *ngIf="!user.is_superuser"></i> Superusuario
    </span>
  </p>
  <hr>
  <p><a [routerLink]="['/users', user._id, 'edit']" class="btn btn-sm btn-primary" role="button">Editar</a></p>
</div>
