<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Usuario</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ml-2">
      <a class="btn btn-sm btn-link text-primary" [routerLink]="['/users']">Volver</a>
    </div>
  </div>
</div>

<div class="shadow-sm p-3 mb-2 bg-white rounded">
  <p class="h4">{{ username }}</p>
  <h5 class="h3">{{ first_name }} {{ last_name }}</h5>
  <p class="">{{ email }}</p>
  <p class="card-text row">
    <span class="col-md-6">Desde: {{ created_at }}</span><span class="col-md-6">Última vez: {{ updated_at }}</span>
  </p>
  <p class="card-text row">
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="!item.is_superuser"></i><i class="fas fa-lock text-danger" *ngIf="item.is_superuser"></i> {{ is_superuser }}
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="!item.is_staff"></i><i class="fas fa-lock text-danger" *ngIf="item.is_staff"></i> {{ is_staff }}
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="!item.active"></i><i class="fas fa-lock text-danger" *ngIf="item.active"></i> {{ active }}
    </span>
    <span class="col-md-3">
      <i class="fas fa-lock-open text-primary" *ngIf="!item.lock"></i><i class="fas fa-lock text-danger" *ngIf="item.lock"></i> {{ lock }}
    </span>
  </p>
</div>
