<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/desarrollo">Desarrollo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacidad">Privacidad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cookies">Cookies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ayuda">Ayuda</a>
        </li>
      </ul>
      <div class="navbar-nav">CiudadBusca &copy; 2018</div>
    </div>
  </nav>
