<div class="card mb-4" style="background-image: url(https://cdn.traveler.es/uploads/images/thumbs/es/trav/3/s/2016/44/los_paisajes_naturales_mas_extraordinarios_de_asia_246414817_1000x666.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: 320px;">
  <div class="fondo-cenefa"></div>
  <div class="avatar">
    <img src="https://rtvc-assets-radionacional-v2.s3.amazonaws.com/s3fs-public/styles/imagen_1800x700/public/senalradio/articulo-noticia/galeriaimagen/cano-cristales-los-ochos-1024x681.jpg?itok=Dl9CgAD6&timestamp=1473361527" alt="" class="avatar-img">
    <div class="avatar-title">@delcampo</div>
  </div>
</div>
